body{
    background-image: url("/static/img/nightcity.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}

.card{
    width: 40rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 5px;
    padding: 10px;
}

input{
    border-radius: 5px;
    border: none;
    height: 40px;
}

#welcome{
    font-family: Poppins;
    font-size: 35px;
    color: white;
}

button{
    background-color: #EF820D;
    border: none;
    border-radius: 5px;
    padding: 9px;
    width: 100px;
    font-family: Poppins;
    font-size: 18px;
}

h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
}

a{
    color: orangered;
}

a:hover, a:active {
    color: red;
  }