{% extends 'base.html' %}

{% load static %}


{% block content %}
<div class="container-fluid">
    
    <div class="row">
        <br><br><br><br>
    </div>
    
    <div class="row">
        <br><br><br><br>
    </div>
    
    <div class="row">
        <p id="welcome" class="mx-auto">Welcome !! {{user}}<p>
    </div>

    <div class="row">
        <br><br>
    </div>

    <div class="row">
        <div class="col-md">
            
        </div>
        <div class="col-md d-flex justify-content-center">
            <a href="{% url 'loginpage:registerView' %}"><button>Register</button></a>&nbsp;&nbsp;&nbsp;
            <a href="{% url 'loginpage:loginView' %}"><button>Login</button></a>
        </div>
        <div class="col-md">
            
        </div>
        
    </div>

    <div class="row">
        <br><br>
    </div>

</div>
{% endblock content %}