{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
    
    <div class="row">
        <br><br><br><br><br>
    </div>
    
    <div class="row">
        <p id="welcome" class="mx-auto">Welcome !!<p>
    </div>
    
    <div class="row">
        <br><br><br><br><br>
    </div>

    <div class="row">
        <div class="card mx-sm-auto">
            <div class="card-body">
                <h2>Sign In</h2>
                <br> 	                      
                <form method="POST">
                    {% csrf_token %}
                    <input class="col-12" type="text" id="username" name="username" placeholder="Username">
                    <br><br>
                    <input class="col-12" type="password" id="password" name="password" placeholder="Password">
                    <br><br>
                    <button class="float-right" type="submit">Login</button>
                </form>
                <br><br><br><br>
                <p class="d-flex justify-content-center">Don't have an account? &nbsp;<a href="{% url 'loginpage:registerView' %}">Sign Up</a></p>                               
            </div>
        </div>        
    </div>

    <div class="row">
        <br>
    </div>

</div>

{% endblock content %}