{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
    
    <div class="row">
        <br><br><br><br><br>
    </div>
    
    <div class="row">
        <p id="welcome" class="mx-auto">Welcome !!<p>
    </div>
    
    <div class="row">
        <br><br><br><br><br>
    </div>

    <div class="row">
        <div class="card mx-sm-auto">
            <div class="card-body">
                <h2>Register</h2>
                <br> 	                      
                <form action="/user/register/" method="POST" class="col-12">
                    {% csrf_token %}
                    {{ form.username }}
                    <br>
                    {{ form.password1 }}
                    <br>
                    {{ form.password2 }}
                    <br><br>
                    <button class="float-right" type="submit" method="POST">Sign Up</button> 
                </form>                 
                <br><br><br><br>
                <p class="d-flex justify-content-center">Already have an account? &nbsp;<a href="{% url 'loginpage:loginView' %}">Login</a></p>                
            </div>
        </div>        
    </div>

    <div class="row">
        <br>
    </div>

</div>

{% endblock content %}